[submodule "tools"]
	path = tools
	url = https://github.com/lolly-tools/lolly-suse-tools.git
[submodule "catalog"]
	path = catalog
	url = https://github.com/lolly-tools/lolly-suse-catalog.git
[submodule "services/mcp"]
	path = services/mcp
	url = https://github.com/lolly-tools/lolly-mcp-server.git
[submodule "services/ca"]
	path = services/ca
	url = https://github.com/lolly-tools/lolly-ca.git
[submodule "shells/web"]
	path = shells/web
	url = https://github.com/lolly-tools/lolly-web.git
[submodule "shells/cli"]
	path = shells/cli
	url = https://github.com/lolly-tools/lolly-cli.git
[submodule "shells/tui"]
	path = shells/tui
	url = https://github.com/lolly-tools/lolly-tui.git
[submodule "shells/tauri-desktop"]
	path = shells/tauri-desktop
	url = https://github.com/lolly-tools/lolly-desktop.git
[submodule "shells/tauri-mobile"]
	path = shells/tauri-mobile
	url = https://github.com/lolly-tools/lolly-mobile.git
[submodule "shells/chrome-extension"]
	path = shells/chrome-extension
	url = https://github.com/lolly-tools/lolly-chrome-extension.git
[submodule "docs"]
	path = docs
	url = https://github.com/lolly-tools/lolly-docs.git
